<div class="container-fluid pt-5">
  <div class="row" *ngIf="userIsLogged == false">
    <div class="col text-center p-3">
      <div class="card p-2">
        <p class="card-text fw-bold">Effettua il Log In</p>
        <button class="btn btn-primary" [routerLink]="['/auth','login']">LOGIN</button>
      </div>
    </div>
    <div class="col text-center p-3">
      <div class="card p-2">
        <p class="card-text fw-bold">Registra Nuovo Utente</p>
        <button class="btn btn-primary" [routerLink]="['/auth','register']">REGISTER</button>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="userIsLogged == true">
    <div class="col-12 text-center h1">SEI AUTORIZZATO A FARE TUTTO, DIVERTITI!</div>
  </div>
</div>
