#main{
    // position: relative !important;
    img{
        box-shadow: 0px 0px 5px rgb(0,0,0) !important;
        position: relative !important;
        cursor: pointer !important;
        &:hover{
            scale: 1.2 !important;
        //     position: absolute !important;
        //     z-index: 1 !important;
        }
    }
}