#noTodo{
  text-align: center;
}
.todoHome{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .complete-todo,
  .uncompleted-todo{
    padding-right: 20px;
  }
  .container{
    padding-top: 40px;
  }
}
@media screen and (min-width: 450px){
  .todoHome{
    flex-direction: row;
    flex-wrap: wrap;
  }
}
#form-container{
  padding-bottom: 10vh;
}
form{
  text-align: center;

  input{
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid black;
    outline: none;
    &:focus{
      border: 2px solid lightcoral;
      box-shadow: 0 0 20px lightcoral;
    }
  }
  button{
    border: none;
    border-radius: 50%;
    margin-left: 1vw;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: large;
    transition: all 300ms;
    &:hover{
      background-color: lightcoral;
      color: black;
    }
    &:focus{
      transform: rotate(90deg);
    }
  }
}
