html,
body{
    height: 100%;
}

#phone{
    width: 350px;
    height: 600px;
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.8);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#screen{
    height: 500px;
}
.generic-app:hover{
    cursor: pointer;
}
#chiamate{
    height: 330px;
}
#home-button{
    background-color: white;
}
#home-button:hover{
    background-color: lightgray;
}
