//? GENERALI
html,
body{
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

//TODO
.todo{
  height: 100px;
  width: 200px;
  border: 2px solid black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin: 1vh;
  &:hover{
    transform: scale(1.1);
    border: 2px solid lightcoral;
    box-shadow: 0 0 10px lightcoral;
  }
}

//! DISPLAY
.none{
  display: none;
}
.inline{
  display: inline;
}
.block{
  display: block;
}

//! POSITION
.relative{
  position: relative;
}
.absolute{
  position: absolute;
}
.fixed{
  position: fixed;
}
.top{
  top: 0;
}
.bottom{
  bottom: 0;
}
.t-center{
  text-align: center;
}

//! DIMENSIONS
.w-100{
  width: 100%;
}
.h-100{
  height: 100%;
}
.bold{
  font-weight: bold;
}

//! FLEXBOX
.container{
  display: flex;
}
.justify-center{
  justify-content: center;
}
.align-center{
  align-items: center;
}
.column{
  flex-direction: column;
}

//! SPACING
.p0{
  padding: 0;
}
.ps{
  padding: 0.5vh;
}
.pm{
  padding: 2vh;
}
.pl{
  padding: 5vh;
}

.m0{
  margin: 0;
}
.ms{
  margin: 0.5vh;
}
.mm{
  margin: 2vh;
}
.ml{
  margin: 5vh;
}

//! COLORS

.bg-dark{
  background-color: rgb(32, 32, 32);
}
.bg-black{
  background-color: black;
}
.bg-light{
  background-color: rgb(239, 239, 239);
}
.bg-white{
  background-color: white;
}
.bg-green{
  background-color: green;
}
.bg-red{
  background-color: darkred;
}
.t-orange{
  color: darkorange;
}
.t-dark{
  color: rgb(32, 32, 32);
}
.t-black{
  color: black;
}
.t-light{
  color: rgb(239, 239, 239);
}
.t-white{
  color: white;
}
.t-green{
  color: green;
}
.t-red{
  color: darkred;
}
.t-orange{
  color: darkorange;
}

//! UI
.swaghover:hover{
  color: lightcoral;
  border: 1 solid lightcoral;
}
.pointer{
  cursor: pointer;
}
