img{
    max-width: 100%;
}
figure{
    margin: 0;
}
#main-header{
    text-align: center;
}
#subtitle-container{
    background-color: rgba(255, 235, 204, 0.3);
    border-top: 1px solid orange;
    padding: 15px 0;
}
.content{
    margin: 0 auto;
    width: 800px;
}
#logo-container img{
    width: 200px;
}